<div class="row" ng-controller="createMatchController">
  <div class="col-title">
    <h3>
      =This is the match creation page=
    </h3>
  </div>
</div>
<!-- container-->
<div class="row">
  <!-- Selecting champions-->
  <div class="col-sm-6 orm-group floating-label-form-group">
    <form name="chooseChampionForm" 
      role="form" 
      class="form" 
      novalidate
    >
      <label class="col-sm-12 col-title"> =Choose your champion= </label>
      <input class="form-control" type="text" name="champion" placeholder="Enter Champion Name" ng-model="champion"></input>
      <div class="col-sm-12 col-title">
        <button class="btn btn-danger" ng-click="validChampion()" ng-disabled="(champion === Null || champion === '')">Lock In</button>
        <button class="btn btn-danger" ng-click="browseChamps()">Browse</button>
      </div>
      <p class="alert-msg" ng-show="(!championExists && submittedChampion)">
        Invalid Name, please input a correct name or browse for a champion
      </p>
    </form>
    <div ng-show="(championExists && submittedChampion)">
      <p>
        You have Selected: {{selectedChampion.name}}: {{selectedChampion.title}}
      </p>
      <img class="img-signup-icon" ng-src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{selectedChampion.key}}_0.jpg"/>
    </div>
  </div>
  <!-- Filling up creation form-->
  <div class="col-sm-6">
    <form role="form" 
      class="form"
      name="signupForm" 
      novalidate
    >
    <!-- VERIFY SUMMONER NAME START -->
    <div>  
      <label for="signupName">
        Summoner Name
      </label>
      <input type="text"
        name="signupName"
        placeholder="Summoner Name"
        ng-model="signupName"
        ng-model-options="{updateOn: 'blur'}"
        signup
        required
      />
      <span class="spinner" ng-hide="!loading">
        <i class="fa fa-spinner fa-pulse fa-1x fa-fw margin-bottom"></i>
        <span class="sr-only">Loading...</span>
      </span>
      <span ng-if="signupForm.$pending.summonerRegistered && signupForm.signupName.$$rawModelValue != ''"> 
        <small class="text-muted">
          Checking if summoner is registered...
        </small>
      </span>
      <span ng-if="userExists === true && signupForm.signupName.$$rawModelValue != ''"> 
        <p class="text-muted">
          Inviting: {{signupName}}
        </p>
      </span>
      <span ng-if="signupForm.$pending.summonerExists && signupForm.signupName.$$rawModelValue != ''">
        <small class="text-muted">
          Checking if summoner exists...
        </small>
      </span>
      <span ng-if="signupForm.$error.summonerExists && signupForm.signupName.$$rawModelValue != ''">
        <small class="text-muted">
          Summoner does not exist!  Please check the entered summoner name.
        </small>
      </span>
      <span ng-if="summoner.name">
        <small class="text-muted">
          User does not exist!
        </small class="text-muted">
      </span>
      <span ng-if="signupForm.$error.connection">
        <small class="text-muted">
          Unable to verify summoner name.  Please try again later.
        </small>
      </span>  
    </div>
    <!-- VERIFY SUMMONER NAME END -->
      <!-- <div>
        <label for="username">Invite Player:</label>
        <input type="text" 
          name="username" 
          placeholder="Enter Summoner Name" 
          ng-model="username"
          ng-model-options="{updateOn: 'blur'}" 
          invitePlayerDirective 
          required
        >
        <div>
        <p ng-show="(username != null)">Inviting: {{username}}</p>
        </div>
      </div> -->


      <div>
        <label for="bet">Bet Amount:</label>
        <input type="number" 
          name="bet" 
          placeholder="Enter Bet Amount" 
          ng-model="bet" 
          ng-min="100" 
          ng-max="1000" 
          required 
        >
        <button ng-click="min()">MIN: $100</button>
        <button ng-click="max()">MAX: $1000</button> 
      </div>
      <p ng-show="(bet != null)">Betting: ${{bet}}</p>
      <div>
        <input type="radio" ng-model="betType" value="0"> Close Match </input>
        <input type="radio" ng-model="betType" value="1"> Big Win </input>
      </div>
      <br/>
      <div>
        <button class="btn btn-danger" type="submit" ng-click="createMatchRequest()" ng-disabled="signupForm.$invalid">Send Invite</button>
      </div>
    </form>
  </div>
</div>
