<div class="row" ng-controller="mainController">
  <div class="col-sm-12 col-title">
    <h1>Champion Mastery League Gambler</h1>
    <h4>Welcome to the cMLG App.</h4>
  </div>
  <div class="col-sm-12">
    <div class="row" ng-show="loggedIn">
      <button class="btn btn-primary" ng-click="$location.path('/match/create')">Create Match</button>
      <button class="btn btn-primary" ng-click="$location.path('/match/pending')">Pending Matches</button>
      <button class="btn btn-primary" ng-click="$location.path('/users/user')">Current Matches</button>
    </div>
    <div class="row" ng-show="!loggedIn">
      <button class="btn btn-primary" ng-click="$location.path('/login')">Login</button>
      <button class="btn btn-danger" ng-click="$location.path('/signup')">Sign Up</button>
    </div>
  </div>
</div>

<footer>
  <div class="footer navbar-fixed-bottom">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <p><small>
        "Champion Mastery League Gambler" isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
      </small></p>      
    </div>
    <div class="col-sm-3"></div>
  </div>  
</footer>  