<div class="row">
  <div class="col-sm-12">
    <h1>Champion Mastery League Gambler</h1>
    <h4>Welcome to the cMLG App.</h4>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-default" ng-click="$location.path('/login')">Log In</button>
    <button class="btn btn-default" ng-click="$location.path('/signup')">Sign Up</button>
  </div>
</div>
