<!DOCTYPE html>
<html class="no-js" ng-app="cMLGApp">
  <head>
    <title>Champion Mastery League Gambler</title>
    <!-- CSS -->
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- ngDialog -->
    <link rel="stylesheet" type="text/css" href=".https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.6.0/css/ngDialog.min.css">
    <!-- Angular Charts -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/angular.chartjs/0.8.8/angular-chart.min.css">

    <!-- Custom CSS -->
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- JS -->
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- Angular -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <!-- Angular Routes -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
    <!-- Angular Animate -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>

    <!-- JS Plugins -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.6.0/js/ngDialog.min.js"></script>
    
    <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>

    <script src="https://cdn.jsdelivr.net/angular.charts/0.2.6/angular-charts.min.js"></script>



    <!-- Custom JS -->
    <script src='/javascripts/angularApp.js'></script>
    <script src='/javascripts/controllers/mainController.js'></script>
    <script src='/javascripts/directives/homepage.js'></script>
    <script src='/javascripts/directives/navbar.js'></script>
  </head>
  <body ng-controller="mainController">
    <header>
      <!-- Navbar widget -->
      <navbar></navbar>
    </header>

    <div class="container" id="main">
      <div class="page {{ pageClass }}" ng-view>
      </div>
    </div>
  </body>
</html>
