<div class="row" ng-controller="loginController">
  <div class="col-title">
    <h3>
      =This is the login page=
    </h3>
  </div>
  <br/>
  <div> 
    <form role="form" class="form" name="loginForm" novalidate ng-submit="login()">
      <p ng-show="(loginForm.username.$invalid || loginForm.password.$dirty) && loginForm.submitted" style="color:red;">
        Invalid Username and/or Password
      </p>
      <div class="form-group floating-label-form-group">
        <label> Username: </label>
        <input class="form-control" type="text" name="username" placeholder="Enter Summoner Name" ng-model="username" required>
      </div>
      <div class="form-group floating-label-form-group">
        <label> Password: </label>
        <input class="form-control" type="text" name="password" placeholder="Enter Password" ng-model="password" required>
      </div>
      <br/>
      <div class="col-title">
        <button class="btn btn-danger" type="submit" ng-disabled="loginForm.$invalid" loginDirective>Login</button>
      </div>
    </form>
  </div>
</div>