<div ng-controller="myMatchController">
  <div class="col-title">
    <h3>
      =This is the my match page=
    </h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 ">
    <div class='chart'
      data-ac-chart="'bar'" 
      data-ac-data="data" 
      data-ac-config="config"
    >
    </div>
  </div>
</div>