<!-- Navbar across the top of the app. -->
<nav class="navbar navbar-inverse navbar-fixed-top" 
  role="navigation"
  ng-controller="mainController"
  >
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/"
        ng-click="navCollapsed = true"
      >
        cMLG
      </a>
      <button class="navbar-toggle" type="button" 
        ng-init="navCollapsed = true" 
        ng-click="navCollapsed = !navCollapsed"
      >
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" 
      ng-class="!navCollapsed && 'in'"
    >
      <ul class="nav navbar-left navbar-nav">
        <li dropdown ng-show="loggedIn">
          <a href="/#/match/create" ng-click="navCollapsed = !navCollapsed">
            Create Match
          </a>
        </li>
      </ul>
      <ul class="nav navbar-right navbar-nav">
<!--         <li dropdown>
          <a href="#summoner" 
            ng-click="navCollapsed = !navCollapsed"
          >
            Summoner
          </a>
        </li> -->

        <li dropdown ng-show="loggedIn">
          <a>
            Logged In As: {{ username }}
          </a>
        </li>
        <li dropdown ng-show="loggedIn">
          <a href="" ng-click="navCollapsed = !navCollapsed; logout()">
            Log Out 
          </a>
        </li>
        <li dropdown ng-show="!loggedIn">
          <a href="/#/login" ng-click="navCollapsed = !navCollapsed">
            Log In
          </a>
        </li>
        <li dropdown ng-show="!loggedIn">
          <a href="/#/signup" 
            ng-click="navCollapsed = !navCollapsed"
          >
            Sign Up
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>