<div class="row row-first signup"
  ng-controller="signupController"
>
  <div class="col-sm-12 col-title">
    <h1>Sign Up</h1>
  </div>

  <form name="signupForm"
    role="form"
    class="form"
    ng-submit="1"
    novalidate 
  >
    <div class="col-sm-12 signup-main">
      <!-- VERIFY SUMMONER NAME START -->
      <div class="form-group floating-label-form-group">
        <label for="signupName">
          Summoner Name
        </label>
        <input type="text"
          class="form-control" 
          name="signupName"
          placeholder="Summoner Name"
          ng-model="signupName"
          ng-model-options="{updateOn: 'blur'}"
          signup
          required
        />
      </div>
      <span ng-if="signupForm.signupName.$$rawModelValue === undefined || signupForm.signupName.$$rawModelValue == ''">
        <small class="text-muted">
          Please use your League of Legends summoner in game name.
        </small>
      </span>
      <span class="spinner" ng-hide="!loading">
        <i class="fa fa-spinner fa-pulse fa-1x fa-fw margin-bottom"></i>
        <span class="sr-only">Loading...</span>
      </span>
      <span ng-if="signupForm.$pending.summonerRegistered && signupForm.signupName.$$rawModelValue != ''"> 
        <small class="text-muted">
          Checking if summoner is registered...
        </small>
      </span>
      <span ng-if="userExists && summonerExists && signupForm.signupName.$$rawModelValue != ''"> 
        <small class="text-muted">
          Summoner already registered.
        </small>
      </span>
      <span ng-if="signupForm.$pending.summonerExists && signupForm.signupName.$$rawModelValue != ''">
        <small class="text-muted">
          Checking if summoner exists...
        </small>
      </span>
      <span ng-if="!summonerExists && summonerExists != undefined && !summoner.name && signupForm.signupName.$$rawModelValue != ''">
        <small class="text-muted">
          Summoner does not exist!  Please check the entered summoner name.
        </small>
      </span>
      <span ng-if="summonerExists && !userExists">
        <small class="text-muted">
          Summoner name OK!
        </small class="text-muted">
      </span>
      <span ng-if="signupForm.$error.connection">
        <small class="text-muted">
          Unable to verify summoner name.  Please try again later.
        </small>
      </span>  
    </div>
    <div class="col-sm-12 signup-main">
      <input type="button"
        class="btn btn-danger"
        ng-click="" 
        value="That's me!"
      />
    </div>
    <!-- VERIFY SUMMONER NAME END -->

    <!-- SUMMONER EMAIL AND PASSWORD START -->
    <div class="col-sm-12 signup-child" ng-show="!hideInfoPane">
      <div class="form-group floating-label-form-group">
        <label for="signupEmail">
          Email
        </label>
        <input type="email"
          class="form-control" 
          name="signupEmail"
          ng-model="signupEmail"
          ng-disabled="lockCreate"
          placeholder="Email"
          ng-model-options="{updateOn: 'blur'}"
          signup
          required
        />
      </div>
      <small class="text-muted">
        We won't spam you with emails, this is just for logging in and confirming account purposes.
      </small>
      <div class="form-group floating-label-form-group">
        <label for="signupPass">
          Password
        </label>
        <input type="password"
          class="form-control" 
          name="signupPass"
          ng-model="signupPass"
          ng-disabled="lockCreate"
          placeholder="Password"
          ng-model-options="{updateOn: 'blur'}"
          signup
          required
        />
      </div>
      <small class="text-muted">
        Please DO NOT use the same password as your League of Legends account.
      </small>
      
      <div class="form-group signup-submit">
        <input type="button"
          class="btn btn-danger "
          ng-click="createUser()"
          ng-disabled="lockCreate"
          value="Create!"
        />
      </div>
    </div>
    <!-- SUMMONER EMAIL AND PASSWORD END -->
    <div class="col-sm-12 signup-error">
      <ul role="tablist" style="text-align: left">
        <li role="presentation"
          ng-repeat="error in errorMsgs"
        >      
          <p>{{ error }}</p>
        </li>
      </ul>

    </div>
  </form>


  <!-- SUMMONER IMAGE VERIFICATION START -->
  <div class="col-sm-12 signup-child" ng-show="!hideImgPane">
    <div class="row">
      <div class="col-sm-6">
        <h5>
          Please change your summoner profile icon in League of Legends to the specified icon within the next 24 hours to verify the entered summoner name is yours.
        </h5>
        <h5>
          Once we have verified that the account is linked to your League account, we will send you a confirmation email.
        </h5>
        <h5>
          Please do not change the icon back until you receive the confirmation email, or your account will not be linked!
        </h5>
      </div>
      <div class="col-sm-6 div-signup-icon">
        <img class="img-signup-icon" ng-src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/profileicon/{{ setIcon }}.png"/>
      </div>
    </div>
  </div>
  <!-- SUMMONER IMAGE VERIFICATION END -->
      <div class="col-sm-12">
      <input type="button"
        class="btn btn-danger "
        ng-click="go('/')"
        ng-show="lockCreate"
        value="Return"
      />
    </div>
</div>


