body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color:          #00B7FF;
}

.row-first {
  margin-top:     10px;
}

.col-title {
  text-align:     center;
}

.col-sm-12 {
  margin:         10px 10px 10px 10px;
}

.div-signup-icon {
  text-align:     center;
}

.img-signup-icon {
  margin-top:     25px;
}
