body {
  padding:          25px;
  font:             14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align:       center;
  background-color: #f7f7f7;
}

#main {
  margin-top:       10px;
  padding:          0px;
  width:            100%;
}

a {
  color:            #00B7FF;
}

.row-first {  
  margin-top:       10px;
}

.col-title {
  text-align:       center;
}

.col-sm-12 {
  margin:           10px 10px 10px 10px;
}


.img-signup-icon {
  margin-top:       25px;
}


.signup {
  text-align:       center;
}

.signup-submit > input {
  margin-top:       10px;
}

.alert-msg {
  color: red;
}

img.img-signup-icon:hover {
  -webkit-filter:   brightness(200%); 
  filter:           brightness(200%);
}

.selectChamp {
  height:           60px;
  width:            60px;
  float:            left;
}

.selectChampIcon {
  max-width:        100%;
  max-height:       100%;
  border-radius:    50%;
}

.pending-match-rows {
  margin-bottom:    10px;
  background-color: yellow;
  border-width:     2px;
  border-style:     solid;
}

a.label-link, a.label-link:hover, a.label-link:visited, a.label-link:active {
  color:            #9D9D9D !important; 
}

.user-profile {
  padding:          0px;
}

.match-graph, .match-info {
  padding:          0px;
  text-align:       center;
  height:           500px;
  border:           1px solid black;
  border-radius:    20px;
}

.ac-chart {
  text-align:       center;
  width:            100% !important;
}

.chart {
  width:            100%;
  height:           500px;
}

.pie-title > div.col-sm-12 {
  margin-top:       0;
}

div.match-info > div {
  width:            100%;
  margin:           0;
}

.multi-data {
  overflow-y:       scroll;
  max-height:       65%;
}

.pending-matches > table, .multi-data > table {
  table-layout:     fixed;
  word-wrap:        break-word;
  margin:           auto;
  font-size:        1em;
  margin-bottom:    20px;
}

.pending-matches > td, .multi-data > td {
  width:            10%;
  border:           none;
}

.pending-matches > table > thead > tr > th, .multi-data > table > thead > tr > th {
  vertical-align:   middle;
  text-align:       center;
  background-color: #212121;
  color:            #9d9d9d;
}

.pending-matches > table > thead > tr > th, .multi-data > table > thead > tr > th {
  vertical-align:   middle;
  text-align:       center;
}

.pending-matches > table > tbody > tr > td, .multi-data > table > tbody > tr > td  {
  vertical-align:   middle;
}

.pending-matches > table > tbody > tr > td > p, .multi-data > table > tbody > tr > td > p {
  margin-bottom:    5px;
}

.pending-matches > table > tbody > tr > td > p {
  font-weight:      bold;
}

.bold {
  font-weight:      bold;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
  border:           none;
}

form.form.match-create-form {
  padding: 0 10px 0 10px;
}
