<div class="row" ng-controller="matchCreateController">
  <div class="col-title">
    <h3>
      =This is the match creation page=
    </h3>
  </div>

  <div class="row" ng-show="(!browseChamps)">
    <!-- Selecting champions-->
    <div class="col-sm-6">
      <form name="chooseChampionForm" 
        role="form" 
        class="form match-create-form" 
        novalidate
      > 
        <div class="row form-group floating-label-form-group">
          <div class="col-sm-12">
            <label for="champion"> 
              Choose your champion
            </label>
            <input type="text" 
              class="form-control" 
              name="champion" 
              placeholder="Enter Champion Name" 
              ng-model="champion"
            ></input>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-12">
            <button class="btn btn-lg btn-success" 
              ng-click="validChampion()" 
              ng-disabled="(champion === Null || champion === '')"
            >Lock In</button>

            <button class="btn btn-lg btn-primary" 
              ng-click="setBrowseChamps()"
            >Browse</button>
          </div>

        </div>

        <p class="alert-msg" ng-show="(!championExists && submittedChampion)">
          Invalid Name, please input a correct name or browse for a champion
        </p>
      </form>
      <div ng-show="(championExists && submittedChampion)">
        <p>
          You have Selected: {{selectedChampion.name}}: {{selectedChampion.title}}
        </p>
        <img class="img-signup-icon" ng-src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{ selectedChampion.key }}_0.jpg" ng-click="selectChamp()">
      </div>
    </div>

    <div class="col-sm-6 match-summoner">
      <form name="matchInviteForm"
        role="form"
        class="form match-create-form"
        novalidate
      >
        <div class="row form-group floating-label-form-group" >
          <div class="col-sm-12">
              <label for="summonerName">
                Summoner Name
              </label>
              <input type="text"
                class="form-control"
                name="summonerName"
                placeholder="Summoner Name"
                ng-model="summonerName"
                ng-model-options="{updateOn: 'blur'}"
                create-match
                required
              >
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <span ng-if="matchInviteForm.summonerName.$$rawModelValue === undefined || matchInviteForm.summonerName.$$rawModelValue == ''">
              <small class="text-muted">
                Enter your opponent's League of Legends in-game name.
              </small>
            </span>
            <span class="spinner" ng-hide="!loading">
              <i class="fa fa-spinner fa-pulse fa-1x fa-fw margin-bottom"></i>
              <span class="sr-only">Loading...</span>
            </span>
            <span ng-if="matchInviteForm.$pending.summonerRegistered && matchInviteForm.summonerName.$$rawModelValue != ''"> 
              <small class="text-muted">
                Checking if summoner is registered...
              </small>
            </span>
            <span ng-if="userExists  && matchInviteForm.summonerName.$$rawModelValue != ''"> 
              <small class="text-muted">
                Summoner OK!
              </small>
            </span>
            <span ng-if="!userExists && userExists != undefined && matchInviteForm.summonerName.$$rawModelValue != ''"> 
              <small class="text-muted">
                Summoner does not exist or does not have an account with cMLG!
              </small>
            </span>
          </div>
        </div>

        <!-- BETS START -->
        <div class="row" style="text-align: center">
          <div class="col-sm-12 form-group">
            <label for="summonerName">
              Bet Amount
            </label>
            <input type="number"
              class="form-control"
              name="bet"
              placeholder="Enter Bet Amount" 
              ng-model="bet" 
              ng-model-options="{updateOn: 'blur'}"
              min="{{min_mlg_points}}" 
              max="{{max_mlg_points}}"
              ng-disabled="insufficientFunds"
              required 
            />
            <br/>
            <div class="row">
              <div class="col-sm-6">
                <input type="button"
                  class="btn btn-lg btn-default"
                  ng-click="min()"
                  ng-disabled="insufficientFunds"
                  value="MIN: {{min_mlg_points}} pts"
                />
              </div>
              <div class="col-sm-6">
                <input type="button"
                  class="btn btn-lg btn-default"
                  ng-click="max()"
                  ng-disabled="insufficientFunds"
                  value="MAX: {{max_mlg_points}} pts"
                />
              </div>
            </div>
            <br/>
            <small class="text-muted" ng-show="(bet != null)">
              Betting: ${{bet}}
            </small>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 form-group">
            <input type="radio" ng-model="betType" value="0">
            <span class="text-muted">Close Match</span>
          </div>
          <div class="col-sm-6 form-group">
            <input type="radio" ng-model="betType" value="1"> 
            <span class="text-muted">Big Win</span>
          </div>
        </div>
        <!-- BETS END -->

        <!-- Error message -->
        <div class="row">
          <div class="col-sm-12" ng-hide="errorMsgs === undefined || errorMsgs.length == 0">
            <ul role="tablist" style="text-align: left">
              <li role="presentation" ng-repeat="error in errorMsgs">
                {{error}}
              </li>
            </ul>
          </div>
        </div>

        <!-- Send invites -->
        <div class="row">
          <div class="col-sm-12">
            <button class="btn btn-lg btn-success" 
              type="submit" 
              ng-click="createMatchRequest()" 
              ng-disabled="signupForm.$invalid || !championExists || !userExists"
            >
              Send Invite
            </button>
          </div>
          <div class="col-sm-12">
            <button class="btn btn-lg btn-danger" ng-click="back()">Back</button>
          </div>
        </div>
      </form>
      

    </div>
  </div>
  

  <!-- Browse Champion Grid -->
  <div class="row" ng-show="browseChamps">
    <div class="col-sm-2"></div>
    <div class="col-title col-sm-8" >
      <h3>=Choose Your Champion=</h3>
      
      <div id="appendIcon" append-icon>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>




