<div class="row" ng-controller="matchPendingController">
  <div class="col-title">
    <h3>
      =This is the pending match page=
    </h3>
  </div>
  <br/>
  <!-- pending match requests list starts here -->
  <!-- <div class="col-sm-1"></div> -->
  <div class="col-sm-12" ng-repeat="match in matchRequestList">
    <div class="col-sm-12 pending-match-rows">
      <div class="col-sm-2">
        <img class="selectChampIcon" ng-src="{{match.image}}"/>
      </div>
      <div class="col-sm-2">
        <div>Player #1</div>
        <div>{{match.username1}}</div>
      </div>
      <div class="col-sm-2">
        <div>VS</div>
      </div>
      <div class="col-sm-2">
        <div>Player #2</div>
        <div>{{match.username2}}</div>
      </div>
      <div class="col-sm-2">
        <div> 
          ${{match.bet}}
          <br/> 
          on {{match.bettype_str}}
        </div>
      </div>
      <div class="col-sm-2">
        {{match.status_str}}
        <br/>
        <small>
          Time Left: {{match.time_left.minutes}}:{{match.time_left.seconds}}
        </small>
      </div>
    </div>
  </div>
  <!-- <div class="col-sm-1"></div> -->

</div>